<!DOCTYPE html>
<html>
<head>
<title>Database table</title>
</head>
<body>
<table>
<thead>
<tr>
<th> First name</th>
<th> Surname</th>
<th> Email adress</th>
<th> Telephone number</th>
</tr>
</thead>
</body>
</html>
